<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CarTrackingEntities" connectionString="metadata=res://*/CarTrackingModel.csdl|res://*/CarTrackingModel.ssdl|res://*/CarTrackingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=itdev02;initial catalog=CarTracking;persist security info=True;user id=sa;password=p@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>